.container {
    display: flex;
    flex-direction: column;
}

.button {
    border: 1px solid var(--background-color);
    transition: all .3s ease-in-out;
    border-radius: var(--border-radius);
    color: var(--background-color);
    text-decoration: none;
    padding: 0.75rem;
    text-align: center;
    backface-visibility: hidden;
    transform: translateZ(0px);
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.9);
}

.buttonPopular {
    background-color: var(--ww-color);
    border: none;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    font-size: small;
    margin: 0;
}
