.container {
  text-align: center;
  max-width: 55em;
  margin: 1rem auto;
}

.countDownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  padding-left: 1em;
  padding-right: 1em;
}

.cardContainer {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  width: 2em;
  perspective-origin: 50% 50%;
  perspective: 300px;
  background-color: var(--text-color);
  color:var(--background-color);
}

.cardTop, .cardBottom {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cardContainer, .cardTop, .cardBottom {
  height: 1.2em;
}

.cardTop span, .cardTopAnimated span {
  transform: translateY(calc(55% + 1px));
}

.cardBottom span, .cardBottomAnimated span {
  transform: translateY(calc(-45% - 1px));
}

.cardTop, .cardTopAnimated {
  border-bottom: 1px solid var(--background-color);
}

.cardBottom, .cardBottomAnimated {
  border-top: 1px solid var(--background-color);
}

.cardTopAnimated, .cardBottomAnimated {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 0.6em;
  overflow: hidden;
  backface-visibility: hidden;
  background-color: var(--text-color);
}

.cardTopAnimated {
  top: 0;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
}

.cardBottomAnimated {
  top: 0.6em;
  transform: rotateX(180deg);
  transform-origin: center top;
}

/*Desktop*/
@media only screen and (min-width: 640px) {
  .cardContainer {
    font-size: 5em;
  }

  .cardTop span, .cardTopAnimated span {
    transform: translateY(calc(71% + 1px));
  }

  .cardBottom span, .cardBottomAnimated span {
    transform: translateY(calc(-29% - 1px));
  }
}