.main {
    margin-top: 66px;
}

.mainContent {
  margin: auto;
  padding-inline: var(--padding-inline);
  max-width: var(--max-width);
}

.imgContainer {
    height: min(30vh + 10vw, 330px);
}

.imgContainer, .titleContainer {
    position: relative;
}

.img {
    object-fit: cover;
    border-radius: var(--border-radius);
}

.titleContainer {
    max-width: calc(var(--max-width) + 0.5em + 0.5ex);
    padding-inline: calc(0.5em + 0.5ex);
    margin: 0 auto;
}

.title {
    margin-top: -0.6em;
    width: 100%;
    text-shadow: 0px -2px 30px black;
}
