.container {
    display: flex;
    align-items: center;
    padding: 1rem 0.6rem 1rem 1rem;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: var(--border-radius);
    text-decoration: none;
    justify-content: space-between;
}

.container:hover .name, 
.container:focus .name, 
.container:active .name {
    background-size: 100% 0.1em;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    background-image: linear-gradient(var(--background-color), var(--background-color));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}