.imgContainer {
    display: flex;
    position: relative;
    aspect-ratio: 3/2.2; /*Prisa Gud här kommer skatteåterbäringen*/
}

.img {
    object-fit: contain;
}

/*Desktop, Tablet*/
@media only screen and (min-width: 640px) {
    .imgContainer {
        max-height: 50vh;
    }
}