.navContainer {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 1px #1f2937;
    background-color: var(--menu-background-color);
    backdrop-filter: blur(15px);
}

.navContainerOffset {
    position: absolute;
    background-color: unset;
    backdrop-filter: unset;
}

.sticky {
    position: fixed;
    box-shadow: 0px -25px 37px 0px rgba(255,255,255,1);
    background-color: var(--menu-background-color);
    backdrop-filter: blur(15px);
}

.stickyOffset {
    animation: fadeIn 0.25s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay {
    backdrop-filter: blur(15px);
    position: fixed;
    inset: 0px;
    height: 100vh;
    z-index: 998;
    animation: 0.2s linear 0s 1 normal forwards running overlayAn;
}

@keyframes overlayAn {
    0% {
        background: transparent;
    }
    100% {
        background: rgba(0, 0, 0, 0.3);
    }    
}

.logo {
    margin-right: 1rem;
}

/*
.logoShadow {
    top: -1px;
    position: absolute;
    z-index: 9998;
    box-shadow: 21.5px 25px 35px 30px var(--ww-color);
    height:1px;
    width:20px;
    background-color: transparent;
}
*/

.logoContainer, .burger {
    display: flex;
    align-items: center;
    z-index: 9999;
}

.burger path {
    fill: var(--text-color);
    stroke: none;
}

.plus {
    display: flex;
    padding: 0.5em 1.6em;
    cursor: pointer;
}

.invisible {
    display: none;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background: var(--menu-mobile-background-color);
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
}

.link {
    color: white;
    font-size: 1.6em;
    padding: 0.5em 1.6em;
    width: 100%;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.navInnerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 12px;
}

.innerContainer {
    padding-top: 6em;
}

.children div {
    font-size:calc(8px + 0.4em);
    margin-left:0.7em;
}

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialMedia {
    display: flex;
    justify-content: center;
    padding: 2em;
}

@media only screen and (min-width: 640px) {
    .container {
        max-width: 400px;
        height: 100vh;
    }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
    /*
    .navContainer {
        margin: auto;
        right: 0;
        left: 0;
        max-width: calc(48em + 48ex);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
    */

    .navInnerContainer {
        max-width: calc(48em + 48ex);
    }

    .navInnerContainer, .innerContainer  {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .innerContainer {
        padding: 0;
    }

    .container {
        display: flex;
        position: relative;
        max-width: none;
        height: inherit;
        background: transparent;
        z-index: 9999;
        /*Need to override inline react srping style*/
        opacity: 1 !important;
        transform: translate3d(0,0,0) !important;
        overflow: unset;
    }

    .link {
        font-size: 1.125rem;
        padding: 0.5rem 1rem;
    }

    .children div {
        display: flex;
        align-items: baseline;
        margin-left: 0;
    }

    .topLevelLinkContainer {
        margin-top: 0;
    }

    .topLevelChildren {
        position: absolute;
    }

    .topLevelChildrenPadding {
        padding-top: 13px;
    }

    .topLevelChildrenInner {
        background-color: var(--menu-background-color);
        border-radius: var(--border-radius);
        padding-block: 0.5rem;
    }

    .socialMedia {
        justify-content: end;
        padding: 0;
    }

    .plus {
        display: none;
    }

    .burger {
        display: none;
    }
}

