.container {
    display: flex;
}

.iconContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.iconContainer path {
    stroke: var(--text-color);
}

.inverted path {
    stroke: var(--background-color);
}
