/*
The main css files where the default behavior of the website will be set.
Also every component can use the classes defined in here.
*/

:root {
  --ww-color:#ffc003;
  --background-color: #081b31;
  --text-color:#FFFFFF;
  --link-color: #85CEFF;
  --border-radius: 3px;
  --sky-color: linear-gradient(to bottom, #00a6ce 0%, #f0f9ff 100%);
  --footer-background-color: linear-gradient(to bottom, var(--background-color) 0%, #0a1118 100%);
  --menu-background-color:rgba(8, 27, 49, 0.8);
  --menu-mobile-background-color:var(--menu-background-color);
  --code-background: rgba(175,184,193,0.2);
  --max-width:calc(40em + 40ex);
  --padding-inline:calc(1em + 1ex);
  --p-block:calc(1em + 0.5ex);
}

* {
  box-sizing: border-box;
}

html {
  word-wrap: break-word;
  line-height: calc(1em + 1ex);
  font-kerning: normal;
  scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica','Helvetica Neue','SF Pro Text', 'SF Pro Icons',
      'Arial', sans-serif;
    /*
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;
    */
    font-family: var(--font-lato);
    margin:0;
    background-color: var(--background-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6, th {
  font-family: var(--font-kanit);
  font-style: italic;
}

strong {
  font-family: var(--font-kanit);
}

h1,h2,h3,h4,h5,h6,strong,th,.h3,.h5 {
  font-weight: 700;
  line-height: calc(1em + .4ex);
  margin-block: calc(.4em + .4ex);
  letter-spacing: .0125em;
}

h1, h2 {
  font-size: clamp(2.5em, 1.3vw + 2.5em, 3.8em);
  letter-spacing: -.0125em;
}

h3, .h3 {
  font-size: clamp(1.6em, 1vw + 1.6em, 2.3em);
}

h4 {
  font-size: clamp(1.4em, 1vw + 1.4em, 1.7em);
}

h5, .h5 {
  font-size: clamp(1.2em, 1vw + 1.2em, 1.3em);
}

h6 {
  font-size: 1em;
}

hr {
  color: var(--text-color);
  margin-top: 2em;
  margin-bottom: 1.6em;
}

button {
  all: unset;
  cursor: pointer;
}

p {
  margin-block: 0 var(--p-block);
}

/*Used for mdx, may need to be changed according how the markdown is setup*/
ul:has(div) {
  margin-top: -0.5em;
}

a {
  color: var(--link-color);
}

code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  padding: 0.2em 0.4em;
  margin:0;
  font-size: 85%;
  border-radius: 6px;
  background-color: var(--code-background);
}

.errorPageContainer {
  margin-top: 6rem;
  text-align: center;
}

.errorPageImg {
  height: 30vh;
}

.removeFlicker {
  animation: fadein 0.1s ease-in;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*Desktop, Tablet*/
@media only screen and (min-width: 640px) {
  html {
    font-size: 1.125em;
  }

  .errorPageImg {
    height: 40vh;
  }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  .errorPageImg {
    height: 45vh;
  }
}